@import 'mediawiki.skin.variables.less';

// Use semantic variable names from skin variables, featuring Codex design
// tokens, in the code when it makes sense to do so.
// Otherwise, create a new extension-specific semantic variable here.
// See https://doc.wikimedia.org/codex/latest/design-tokens/overview.html

// Colors
// ---------------------------------------------------------
// https://doc.wikimedia.org/codex/latest/style-guide/colors.html
@wbmad-background-color-spinner: @color-subtle;

// Sizes
// ---------------------------------------------------------
@wbmad-size-max-width: 60em;
@wbmad-size-spinner: 12px;
@wbmad-border-radius-image-card: @border-radius-base * 4;

// Mixins
// ---------------------------------------------------------
.fade-in( @duration ) {
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
	animation: fadeIn @duration;
}
