@import 'mediawiki.mixins';
@import '../style-variables.less';

.wbmad-suggested-tags-page {
	max-width: @wbmad-max-width;

	.wbmad-suggested-tags-page-tabs-heading {
		border: 0;
		font-family: @font-family-sans;
		font-weight: 600;
		margin-top: 1.25em;
	}

	.wbmad-suggested-tags-page-license-info {
		.box-sizing( border-box );
		background-color: @base90;
		padding: 1em;

		p {
			margin: 0;
		}
	}

	.wbmad-success-message {
		@keyframes slideInOut {
			0% {
				bottom: 0;
				opacity: 0;
			}

			25%,
			85% {
				bottom: 5vh;
				opacity: 1;
			}

			100% {
				bottom: 5vh;
				opacity: 0;
			}
		}
		animation: slideInOut 4s;
		bottom: 5vh;
		position: fixed;
		text-align: center;
		width: @wbmad-max-width;

		/* stylelint-disable selector-class-pattern */
		&.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-notice {
			background: transparent;
			border: 0;
		}

		.oo-ui-iconElement-icon {
			display: none;
		}

		.oo-ui-labelElement-label {
			background-color: @base10;
			border-radius: @outer-border-radius;
			color: @base100;
			display: inline-block;
			padding: 1em 2em;
		}
	}

	// Override padding to ensure box shadow of card is visible.
	.oo-ui-indexLayout-stackLayout > .oo-ui-panelLayout {
		padding: 0.5em 0.2em 2em;
	}

	// Needed to avoid vertical scrolling within tab content.
	.oo-ui-panelLayout-expanded {
		position: static;
	}

	// Lighten inactive tab title.
	.oo-ui-tabOptionWidget {
		color: @base30;
	}

	// Lighten underline effect of tab menu.
	.oo-ui-tabSelectWidget-frameless {
		.box-shadow( inset 0 -1px 0 0 @base70 );
	}
	/* stylelint-enable selector-class-pattern */
}
