@import '../style-variables.less';

.wbmad-confirmed-suggestion {
	background-color: @green90;
	border-color: @green50;
	cursor: pointer;

	/* stylelint-disable-next-line selector-class-pattern */
	.oo-ui-iconElement {
		margin-right: 0.6em;
		min-height: 0;
		min-width: 0;
		width: 1em;
	}
}
