@import '../style-variables.less';

.wbmad-suggested-tags-cardstack {
	margin-top: 1em;
	position: relative;

	// TODO: Remove this.
	.wbmad-loading-message {
		font-weight: bold;
	}

	.wbmad-success-message {
		@keyframes slideInOut {
			0% {
				bottom: 0;
				opacity: 0;
			}

			25%,
			85% {
				bottom: 5vh;
				opacity: 1;
			}

			100% {
				bottom: 5vh;
				opacity: 0;
			}
		}
		animation: slideInOut 4s;
		bottom: 5vh;
		position: fixed;
		text-align: center;
		width: @wbmad-max-width;

		/* stylelint-disable selector-class-pattern */
		&.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-flaggedElement-notice {
			background: transparent;
			border: 0;
		}

		.oo-ui-iconElement-icon {
			display: none;
		}

		.oo-ui-labelElement-label {
			background-color: @base10;
			border-radius: @outer-border-radius;
			color: @base100;
			display: inline-block;
			padding: 1em 2em;
		}
	}

	// CTA after user has tagged all personal uploads.
	.wbmad-user-message {
		@keyframes fadeIn {
			0% {
				opacity: 0;
			}

			100% {
				opacity: 1;
			}
		}
		animation: fadeIn 0.5s;

		.wbmad-user-message-icon {
			background-image: url( ../icons/empty-state-icon.svg );
		}

		.wbmad-user-message-cta {
			@media screen and ( min-width: @width-breakpoint-tablet ) {
				width: auto;
			}

			a {
				width: 100%;

				@media screen and ( min-width: @width-breakpoint-tablet ) {
					width: auto;
				}
			}
		}
	}
}
