@import 'mediawiki.mixins';
@import '../style-variables.less';

.wbmad-suggestion-wrapper {
	display: inline-block;
	margin: 0 1em 1em 0;

	label {
		cursor: pointer;
	}

	.wbmad-suggestion {
		background-color: @base90;
		border: @suggestion-border-width solid @base50;
		cursor: pointer;
		padding: 0.1em 1.3em;
		border-radius: 1.2em;
		white-space: nowrap;
	}

	.wbmad-suggestion--confirmed {
		background-color: @accent90;
		border-color: @accent10;
		position: relative;

		/* stylelint-disable-next-line selector-class-pattern */
		.oo-ui-labelWidget {
			@keyframes slideLeft {
				0% {
					.transform( translateX( 0 ) );
				}

				100% {
					.transform( translateX( -0.5em ) );
				}
			}
			.transform( translateX( -0.5em ) );
			animation: slideLeft 0.2s;
		}

		/* stylelint-disable-next-line selector-class-pattern */
		.oo-ui-iconElement {
			.fade-in( 0.2s );
			min-height: 0;
			min-width: 0;
			position: absolute;
			right: 0.5em;
			width: 1em;
		}
	}

	// Animate the process of moving a label back to center when unconfirmed.
	.wbmad-suggestion--unconfirmed {
		/* stylelint-disable-next-line selector-class-pattern */
		.oo-ui-labelWidget {
			@keyframes slideRight {
				0% {
					.transform( translateX( -0.5em ) );
				}

				100% {
					.transform( translateX( 0 ) );
				}
			}
			animation: slideRight 0.2s;
		}
	}

	/* stylelint-disable-next-line selector-class-pattern */
	.oo-ui-buttonWidget {
		border-left: @suggestion-border-width solid transparent;
		margin-right: 0;
		margin-left: 1em;
		padding-left: 0.2em;
	}
}
