@import '../style-variables.less';

.wbmad-suggestion {
	background-color: @base90;
	border-color: @base50;

	/* stylelint-disable-next-line selector-class-pattern */
	.oo-ui-buttonWidget {
		border-left-color: @base50;
	}
}
